---
http_interactions:
- request:
    method: get
    uri: https://vws.vuforia.com/summary/ffeec4fb1276440db68b73f815356f3e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - VWS 08c287c74b2790f43efca48da482981f9f89aecd:SDpJEiHgn4+kUzcpG01aN2Jk1Pg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"success","result_code":"Success","transaction_id":"4058769350754baaa2fdfa11afe2040d","database_name":"Arpia","target_name":"UID:51-PID:188-","upload_date":"2019-11-18","active_flag":true,"tracking_rating":0,"total_recos":0,"current_month_recos":0,"previous_month_recos":0}'
  recorded_at: Thu, 21 Nov 2019 11:06:51 GMT
recorded_with: VCR 5.0.0
