---
http_interactions:
- request:
    method: get
    uri: https://vws.vuforia.com/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - VWS 08c287c74b2790f43efca48da482981f9f89aecd:SiYCLSxgh2GUq2g63MlXTbzkAkw=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"name":"Arpia","result_code":"Success","transaction_id":"7f141566c23643c28481dfedacf8c737","active_images":14,"inactive_images":0,"failed_images":0,"processing_images":0,"target_quota":1000,"request_quota":100000,"reco_threshold":1000,"request_usage":0,"total_recos":0,"current_month_recos":0,"previous_month_recos":0}'
  recorded_at: Wed, 20 Nov 2019 19:10:34 GMT
recorded_with: VCR 5.0.0
